#logo {
  display: block;
  float: left;
  height: 4em;
  width: 15em;
  background: url("./assets/images/logo.svg") no-repeat;
  background-size: 15em;
  background-position: 0 center;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease-out;
}

header nav {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1em;
}

.interests-table td span:first-child {
  color: #0078ff;
}
.interests-table td span:nth-child(2) {
  color: #5c5c5c;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .custom-transition {
    transition: none;
  }
}

@font-face {
  font-family: karate;
  src: url("./assets/vendor/icomoon/karate.ttf") format("truetype");
}
