@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Futura";
    src: url("assets/fonts/futura-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Futura";
    src: url("assets/fonts/futura-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Futura";
    src: url("assets/fonts/futura-medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Futura";
    src: url("assets/fonts/futura-semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Futura";
    src: url("assets/fonts/futura-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: karate;
    src: url("assets/vendor/icomoon/karate.ttf") format("truetype");
  }
}

@layer components {
  /* Logo */
  #logo {
    display: block;
    float: left;
    height: 4em;
    width: 15em;
    background: url("./assets/images/logo.svg") no-repeat;
    background-size: 15em;
    background-position: 0 center;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease-out;
  }

  header nav {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1em;
  }

  /* Interests */
  .interests-table td span:first-child {
    @apply text-black;
  }

  .interests-table td span:nth-child(2) {
    @apply text-custom_gray;
  }

  /* Hero section */
  .hero-section-div {
    @apply flex flex-col justify-center items-center mt-[8rem] mb-[8rem];
  }

  .hero-section-title {
    @apply text-4xl md:text-7xl text-center font-bold px-5;
  }

  .hero-section-subtitle {
    @apply text-center text-[1rem] md:text-xl text-custom_gray py-7 px-10;
  }

  /* Sections */
  .section-div {
    @apply flex flex-col justify-center items-center mt-[3rem] md:mt-[4rem] mb-[5rem] md:mb-[6rem] px-5;
  }

  .section-div p:nth-of-type(2) {
    @apply w-2/3 mx-auto lg:w-1/3 text-justify;
  }

  .section-title {
    @apply text-3xl md:text-5xl text-center font-bold;
  }

  .section-subtitle {
    @apply py-2 text-center;
  }

  .section-separator {
    @apply w-10 h-1 mx-auto my-1 bg-black border-0 rounded mb-10;
  }

  .quote-separator {
    @apply w-10 h-1 mx-auto  bg-black border-0 rounded;
  }
}

@layer utilities {
  @media (min-width: 767px) and (max-width: 1023px) {
    .custom-transition {
      transition: none;
    }
  }
}

::selection {
  color: white;
  background: black;
}
