@import url("/fonts/lato.ttf");

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@media (max-width: 1024px) {
  .container {
    padding: 15px;
    margin: 0px auto;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
}

@media (max-width: 425px) {
  li .point {
    display: none;
  }
  .container {
    margin: 0px;
  }
}

[class*="icon-"]:before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font: 16px Lato;
}

.container {
  height: auto;
  margin-top: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 15px;
}

.tagline {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-top: 10px;
}

.email {
  display: block;
  font-size: 20px;
  font-weight: 300;
  color: #81899c;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.icons {
  font-size: 0.9rem;
  margin-top: 50px;
}

.icons span {
  border-radius: 5px;
  padding: 3px 5px;
}

.icon-cv:before {
  content: "\e900";
}

.icon-dossier:before {
  content: "\e901";
}

.icon-github:before {
  content: "\e902";
}

.icon-linkedin:before {
  content: "\e903";
}

.icon-upwork:before {
  content: "\e904";
}

.icon-style {
  display: inline-block;
  font-size: 45px;
  width: 1em;
  color: #81899c;
  text-align: center;
}

.icon-style:hover {
  color: #3e70bb;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Edge, Opera and Firefox */
}
