@font-face {
  font-family: "lato";
  src: url("../fonts/lato.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@media (max-width: 1024px) {
  .container {
    padding: 15px;
    margin: 0px auto;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
}

@media (max-width: 425px) {
  li .point {
    display: none;
  }
  .container {
    margin: 0px;
  }
}

[class*="icon-"]:before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font: 10px Lato, sans-serif;
  overflow-y: scroll;
}

.container {
  height: auto;
  margin-top: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 1.2rem;
}

.tagline {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-top: 0.8rem;
}

.email {
  display: block;
  font-size: 3rem;
  font-weight: 300;
  color: #81899c;
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
}

.icons span {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.icon-style {
  font-size: 3rem;
  display: inline-block;
  color: #81899c;
  text-align: center;
}

.icon-style:hover {
  color: #3e70bb;
}

.icon-cv:before {
  content: "\e900";
}

.icon-dossier:before {
  content: "\e901";
}

.icon-github:before {
  content: "\e902";
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.icon-linkedin:before {
  content: "\e903";
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.icon-upwork:before {
  content: "\e904";
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #ffffff;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  font-size: 1.2rem;
  display: flex;
  float: right;
}

.links span {
  display: inline-block;
  padding-right: 3rem;
}

.links span a {
  color: #81899c;
  display: table;
}

.links span a:hover {
  color: #3e70bb;
}

.header {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  background: #ffffff;
  padding-top: 4rem;
  padding-bottom: 1rem;
  z-index: 100;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Edge, Opera and Firefox */
}
