#title {
  font-size: 1.5rem;
}

.icon {
  font-size: 0.9rem;
  display: inline-flex;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 15px;
}
.icon span {
  border-radius: 5px;
  padding: 3px 5px;
}

.card a {
  padding-right: 15px;
}

.github {
  color: #739150;
}

.status {
  color: #7699c2;
}

.container {
  padding-left: 400px;
  height: auto;
  margin: 60px auto;
}

h1,
h3,
body,
div,
p,
span,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: lato, ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
}

p {
  color: #15171a;
  font-size: 17;
  line-height: 31px;
}

strong {
  font-weight: 600;
}

.sections {
  vertical-align: top;
  display: inline-block;
  height: auto;
}

.sections-title {
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 30px;
}

.list-card {
  margin: 30px 0;
}

.list-card .skill-exp,
.list-card div {
  display: inline-block;
  vertical-align: top;
}

.list-card .skill-exp {
  line-height: 26px;
  margin-right: 15px;
  color: #4a90e2;
  font-weight: 600;
  font-size: 17px;
  width: 100px;
}

.list-card div {
  width: 70%;
}

.list-card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #5b6a9a;
  line-height: 26px;
  margin-bottom: 8px;
}

.list-card div span {
  font-size: 15px;
  color: #81899c;
  line-height: 22px;
}

.card-title {
  line-height: 140%;
  margin-bottom: 20px;
}

.card-reveal div,
p {
  margin-bottom: 20px;
}

.zoom {
  transition: transform 0.2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.15);
}

.java {
  background: #bad5f5;
}
.java span::after {
  content: "Java";
}

.javafx {
  background: #bad5f5;
}
.javafx span::after {
  content: "JavaFX";
}

.swing {
  background: #afeae5;
}
.swing span::after {
  content: "Swing";
}

.spring {
  background: #afeae5;
}
.spring span::after {
  content: "Spring Boot";
}

.jsp {
  background: #afeae5;
}
.jsp span::after {
  content: "JSP";
}

.angular {
  background: #f2c986;
}
.angular span::after {
  content: "Angular";
}

.node {
  background: #e1c1c1;
}
.node span::after {
  content: "Node.js";
}

.python {
  background: #eadd86;
}
.python span::after {
  content: "Python";
}

.tensorflow {
  background: #afeae5;
}
.tensorflow span::after {
  content: "TensorFlow";
}

.js {
  background: #e1c1c1;
}
.js span::after {
  content: "JavaScript";
}

.html {
  background: #f2c986;
}
.html span::after {
  content: "HTML";
}

.css {
  background: #afeae5;
}
.css span::after {
  content: "CSS";
}

.c {
  background: #afeae5;
}
.c span::after {
  content: "C";
}

.cpp {
  background: #81899c;
}
.cpp span::after {
  content: "C++";
}

.qt {
  background: #bad5f5;
}
.qt span::after {
  content: "Qt";
}

.unity {
  background: #afeae5;
}
.unity span::after {
  content: "Unity 3D";
}
